<%- include('header'); -%>
<h1>
  Title
</h1>
<form action="/" method="POST">

<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Message</label>
  <textarea class="form-control"  id="message"  name="message" rows="5"></textarea>
</div>
<div class="col-auto">
  <button type="submit" class="btn btn-primary mb-3">Envoyer</button>
</div>
</form>
<% for(message of messages) { %> 
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= message.content %></h5>
    <p class="card-text"><%= message.created_at.fromNow() %> </p>
    <a href="/message/<%= message.id %>" target="_blank" rel="noopener noreferrer"><%= message.id %></a>
  </div>
</div>
<% } %> 
<%- include('footer'); -%>